@charset "UTF-8";
/* 全体 */
html {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:#0A1931;
  color:white;
  font-family:"Yu Gothic",sans-serif;
  line-height:1.8;
  padding-top: 70px
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 30px;
  background: rgba(0,0,0,0.35);
  border-bottom: 1px solid rgba(255,213,0,0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  z-index: 9999;
  backdrop-filter: blur(4px);
}

.site-header .logo {
  font-size: 1rem;
  font-weight: bold;
  color: #FFD500;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 25px;
  white-space: nowrap;
  align-items: center;
  margin-left: auto;
  max-width: 60%;
  overflow:hidden;
  padding-right: 70px
}
.nav-links a {
  color: #FFD500;
  text-decoration: none;
  font-weight: bold;
}
.nav-links a:hover {
  color: #FFFFFF;
}

/* トップ */
.hero{
  height:100vh;
  background:
  linear-gradient(
    rgba(10,25,49,.6),
    rgba(10,25,49,.9)
    ),
    url("../images/top.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  /* 黒い透明パネル */
  .overlay{
    text-align:center;
    background:rgba(0,0,0,.45);
    padding:50px;
    border-radius:20px;
  }

  /* タイトル */
  .hero h1{
    font-size:4rem;
    margin-bottom:20px;
    text-shadow:
    0 0 10px #005BBB,
    0 0 20px #005BBB;
  }

  /* サブテキスト */
  .sub-text{
    margin-top:10px;
    color:#FFD500;
    font-weight:bold;
  }

  /* ボタン */
  .enter-btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 40px;
    background:#FFD500;
    color:#0A1931;
    text-decoration:none;
    font-weight:bold;
    border-radius:50px;
    transition:.3s;
  }
  .enter-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 20px #FFD500;
  }

  /* セクション */

  .about,
  .popular,
  .diagnosis,
  .timeline{
    padding:80px 10%;
  }

  /* 見出し */
  h2{
    color:#FFD500;
    margin-bottom:20px;
    border-left:6px solid #FFD500;
    padding-left:15px;
  }

  /* ポスター一覧 */
  .movie-grid{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:30px;
  }

  /* ポスター */
  .poster{
    width:250px;
    height:360px;
    object-fit: cover;
    border-radius:0px;
    border:1px solid #2E3F5E;
    transition:.3s;
  }
  .poster:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(255,213,0,.8);
  }

  /*診断ボタン*/
  .diagnosis-btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#005BBB;
    color:white;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    transition:.3s;
  }
  .diagnosis-btn:hover{
    background:#FFD500;
    color:#0A1931;
    box-shadow:0 0 15px rgba(255,213,0,.7);
  }
  /* 一覧ボタン */
  .movie-list-btn{
    display:inline-block;
    margin-top:30px;
    padding:15px 35px;
    background:#005BBB;
    color:white;
    text-decoration:none;
    font-weight:bold;
    border-radius:5px;
    transition:.3s;
  }
  .movie-list-btn:hover{
    background:#FFD500;
    color:#0A1931;
    box-shadow:0 0 15px rgba(255,213,0,.7);
  }


  /*movies.html*/
  .page-header{
    text-align:center;
    padding:60px 10%;
    border-bottom:1px solid #2E3F5E;
  }
  .page-header h1{
    color:white;
    font-size:3rem;
    letter-spacing:4px;
    text-shadow:
    0 0 10px #005BBB,
    0 0 20px #005BBB,
    0 0 40px #005BBB;
  }

  /*最新作*/
  .latest-movie{
    text-align:center;
    padding:50px 10%;
  }
  .latest-movie h2{
    border:none;
    padding:0;
    margin-bottom:30px;
    font-family: sans-serif;
  }
  .latest-movie h3{
    margin-top:20px;
    font-size:1.8rem;
  }
  .latest-poster{
    width:350px;
    max-width:80%;
    border:1px solid #2E3F5E;
    border-radius:0px;
    transition:.3s;
  }
  .latest-poster:hover{
    transform:scale(1.03);
    box-shadow:0 0 25px rgba(247,201,72,.8);
  }

  /*一覧部分*/
  .movie-card{
    text-decoration:none;
    color:white;
    text-align:center;
  }
  .movie-card p{
    margin-top:10px;
    font-weight:bold;
  }
  .movie-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,250px);
    justify-content:center;
    gap:50px;
    margin-top:40px;
  }
  .movieyear{
    color:#FFD500;
    font-family: Times New Roman;
    font-size:0.95rem;
    letter-spacing:2px;
    font-weight:bold;
    margin-top:10px;
  }
  .movietitle{
    color:white;
    margin-top:5px;
    font-weight:bold;
    line-height:1.5;
  }

  /*diagnosis.html*/
  /*診断ページ全体*/
  .diagnosis2 {
    padding: 60px 10%;
    display: flex;
    justify-content: center;
  }

  /*質問カード*/
  #question-box {
    max-width: 700px;
    width: 100%;
    background: rgba(0,0,0,0.45);
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #FFD500;
    text-align: center;
  }

  /*選択肢エリア*/
  .choice-area,#choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
    margin-top: 30px;
  }
  /*選択肢ボタン*/
  .choice-btn {
    background: rgba(0,0,0,0.6);
    border: 1px solid #FFD500;
    border-radius: 10px;
    padding: 10px;
    width: 180px;
    cursor: pointer;
    transition: .3s;
    text-align: center;
  }

  .choice-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255,213,0,0.7);
  }

  /*画像選択肢*/
  .choice-btn img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }

  .choice-btn p {
    margin-top: 10px;
    font-weight: bold;
  }

  /*次へボタン*/
  #next-btn {
    margin-top: 30px;
    padding: 15px 35px;
    background: #005BBB;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: .3s;
  }

  #next-btn:hover {
    background: #FFD500;
    color: #0A1931;
    box-shadow: 0 0 15px rgba(255,213,0,.7);
  }

  /*top3.html*/
  .rank-row {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
  }
  .rank-link-title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #FFD500;
    letter-spacing: 1.5px;
    text-shadow: 0 0 10px rgba(255, 213, 0, 0.6);
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
  }
  .rank-link-title:hover {
    color: white;
    text-shadow: 0 0 15px rgba(255,255,255,0.8);
    transform: scale(1.05);
    transition: .2s;
  }

  /*〇.html*/
  .movie-title{
    color:white;
    margin-top:5px;
    font-weight:bold;
    line-height:1.5;
  }

  /*conan.html*/
  #fade-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fade-text {
    color: #ffffff;
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-family:sans-serif;
    font-weight: 900;
    white-space: pre;
  }

  #fade-screen.active {
    opacity: 1;
    pointer-events: auto;
  }

  #fade-text {
    color: #ffffff;
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-family: monospace;
    white-space: pre;
  }
